*{
    max-width: 1080px;
    line-height: 1.4rem;
}
div{
    /* max-width: 720px; */
    font-family: Arial, Helvetica, sans-serif;
}
code{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
}
code.language-javascript{
    padding: 10px ;
    display: block;
    /* margin: auto 10px; */
    
}
.image_resized{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    box-sizing: inherit;
}